.container {
    background-image: url(/chris-UI/img/hammock.jpeg);
    // Photo by Chris Thompson on Unsplash
    height: 100%;
    background-size: cover;
    background-position: center;

    @media @mobile {
        background-size: cover;
        background-position: inherit;
        height: 70rem;
    }

}

.main-section {


    .banner {
        text-align: center;
        padding-top: 15%;
        line-height: 1.2;
        color: @nav-background;

        h1 {
            font-size: 12rem;
        }

        h3 {
            font-size: 3rem;
            padding-bottom: 20px;
        }

        button {
            .button-creator(200px, 45px, @main-text, @nav-background, 1.8rem);

            a {
                text-decoration: none;
            }
        }
    }
}